body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }

  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
  }

  #file-input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #predict-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
  }

  #result-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  #result-text {
    font-weight: bold;
  }

  .disclaimer {
    font-size: 0.8em;
    margin-top: 20px;
  }

  @media only screen and (max-width: 480px) {
    #file-input, #predict-button {
      width: 100%;
    }
  }